<!DOCTYPE html>
<!--[if IEMobile 7]><html class="no-js ie iem7" lang="en"><![endif]-->
<!--[if lte IE 6]><html class="no-js ie lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html class="no-js ie lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><html class="no-js ie" lang="en"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="en"><!--<![endif]-->
<html class="no-js" lang="en">
  <head>
    {% include "_base/_head.html.twig" %}
  </head>
  <body class="{# {{ page.body.classes }} #}">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    {# Navigation region #}
    {% block navigation %}
      {% include "_components/_navigation.html.twig" %}
    {% endblock navigation %}
    {# Header region #}
    {% block header %}
    {% endblock header %}
    {# Main content region #}
    {% block body %}
      {% block lSidebarFirst %}
      {% endblock lSidebarFirst %}
      {% block lContent %}
      {% endblock lContent %}
      {% block lSidebarSecond %}
      {% endblock lSidebarSecond %}
    {% endblock body %}
    {# Footer region #}
    {% block footer %}
    {% endblock footer %}

    {% include "_base/_closure.html.twig" %}
  </body>
</html>
