{% extends "_base/_page.html.twig"  %}

{% block body %}
  <div class="main-content no-sidebars">
    <div class="l-content">
      {% block lContent %}
      {% endblock lContent %}
    </div>
  </div>
{% endblock body %}